Repository shun-shobon/linkhub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{js,cjs,ts,json,html}": "prettier --write"
}

feat: Add Components
  .prettierrc.json
  package.json
  postcss.config.cjs
  prettier.config.cjs
  src/Component.ts
  src/components/Hello/style.css
  src/components/Hello/template.html
  src/components/Layout/index.ts
  src/components/Layout/style.css
  src/components/Layout/template.html
  src/index.css
  src/index.html
  src/index.ts
  tailwind.config.cjs
  webpack.common.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: Add color variables
  src/components/Layout/style.css
  src/components/Layout/template.html
  src/index.css
Due: prettier --write

feat: Add global style
  src/components/Layout/style.css
  src/index.css
Due: none

chore: Fix lint-staged config
  .lintstagedrc.json
Due: prettier --write

feat: Add Hero
  src/components/Hero/icon.webp
  src/components/Hero/index.ts
  src/components/Hero/style.css
  src/components/Hero/template.html
  src/components/Layout/style.css
  src/index.css
  src/index.html
  src/index.ts
  webpack.common.config.js
Due: eslint --fix, prettier --write

chore: Delete all
  .browserslistrc
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  babel.config.js
  env.d.ts
  package.json
  postcss.config.cjs
  src/Component.ts
  src/components/Hello/index.ts
  src/components/Hello/style.css
  src/components/Hello/template.html
  src/components/Hero/icon.webp
  src/components/Hero/index.ts
  src/components/Hero/style.css
  src/components/Hero/template.html
  src/components/Layout/index.ts
  src/components/Layout/style.css
  src/components/Layout/template.html
  src/index.css
  src/index.html
  src/index.ts
  tsconfig.json
  webpack.common.config.js
  webpack.dev.config.js
  webpack.prod.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: Initialize by vite
  .gitignore
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  favicon.svg
  index.html
  package.json
  src/main.ts
  src/style.css
  src/vite-env.d.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: Implements
  assets/blog.svg
  assets/facebook.svg
  assets/favicon.svg
  assets/github.svg
  assets/globe.svg
  assets/icon.webp
  assets/keybase.svg
  assets/link.svg
  assets/twitter.svg
  favicon.svg
  index.html
  package.json
  src/main.ts
  src/style.css
  yarn.lock
Due: eslint --fix, prettier --write

feat: Add some animation
  assets/down.svg
  index.html
  src/animation.css
  src/main.ts
  src/style.css
Due: eslint --fix, prettier --write
